.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  justify-content: space-between;
  margin: 20px;
  .grid-item {

    background-color: aquamarine;
    cursor: pointer;
    display: grid;
    place-content: center;
    h2 {
      margin-bottom: 0;
    }
  }
}
